.iphonePage {
  max-width: 1150px;
  width: 100%;
  margin: auto;
  margin-top: 60px;
}

.iphonePage .iphonePage-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.iphonePage-inner .airpods-images {
  width: 100%;
}

.iphonePage-inner .airpods-images .main-img {
  background-color: #6b72801a;
  border-radius: 10px;
  max-width: 440px;
  width: 100%;
}

.iphonePage-inner .airpods-images .main-img img {
  width: 100%;
  mix-blend-mode: multiply;
}

.iphonePage-inner .images-options {
  max-width: 437px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.iphonePage-inner .images-options .imgOptionOne {
  max-width: 100px;
  background-color: #6b72801a;
  border-radius: 10px;
  cursor: pointer;
}

.iphonePage-inner .images-options .imgOptionOne img {
  width: 100%;
  mix-blend-mode: multiply;
}

.iphonePage-inner .main-products-descreption .main-heading h1 {
  color: #1f2937e6;
  font-weight: 500;
  font-size: 35px;
  line-height: 36px;
}

.iphonePage-inner .rated-stars-svgs .filled-stars {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 25px;
}

.iphonePage-inner .rated-stars-svgs .filled-stars p {
  margin-left: 5px;
  font-size: 18px;
  color: #1f2937e6;
  font-weight: 500;
}

.iphonePage-inner .main-products-descreption .products-description p {
  color: #4b5563;
  margin-top: 12px;
  font-weight: 430;
  font-size: 18px;
  line-height: 25px;
}

.iphonePage-inner .main-products-descreption .product-price p {
  font-size: 32px;
  color: #1f2937e6;
  font-weight: 500;
  margin-top: 12px;
  padding-bottom: 15px;
}

.iphonePage-inner .product-type {
  margin-top: 30px;
}

.iphonePage-inner .product-type .typeOne {
  display: flex;
  max-width: 200px;
  align-items: center;
  justify-content: space-between;
}

.iphonePage-inner .product-type .typeOne p {
  font-weight: 500;
  font-size: 20px;
  color: #1f2937e6;
  margin-bottom: 3px;
}

.iphonePage-inner .product-type .typeOne span {
  color: #4b5563;
  font-size: 19px;
}

.iphonePage-inner .main-products-descreption .main-products-buttons {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.iphonePage-inner .main-products-descreption .main-products-buttons .btnOne {
  width: 100%;
}

.iphonePage-inner .main-products-descreption .main-products-buttons .btnTwo {
  width: 100%;
}

.iphonePage-inner .main-products-descreption .main-products-buttons .btnOne button {
  padding: 13px 0;
  width: 100%;
  font-size: 19px;
  background-color: #f3f4f6;
  color: #4b5563;
  border: solid 1px #f3f4f6;
  cursor: pointer;
  transition: .4s ease;
}

.iphonePage-inner .main-products-descreption .main-products-buttons .btnOne button:hover {
  background-color: #dcddde;
}

.iphonePage-inner .main-products-descreption .main-products-buttons .btnTwo button {
  padding: 13px 0;
  width: 100%;
  font-size: 19px;
  background-color: #ea580c;
  color: #fff;
  border: solid 1px #ea580c;
  cursor: pointer;
  transition: .4s ease;
}

.iphonePage-inner .main-products-descreption .main-products-buttons .btnTwo button:hover {
  background-color: #c04706;
}

.iphonePage .popup {
  background-color: #fff;
  border-radius: 6px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%) scale(1);
  text-align: center;
  padding: 0 15px 15px;
  color: #333;
  visibility: hidden;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.iphonePage .open-popup {
  visibility: visible;
  top: 13%;
  transform: translate(-50%, -50%) scale(1);
}

.iphonePage .popup h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.iphonePage .popup img {
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 10px;
}

.iphonePage .error {
  background-color: #fff;
  border-radius: 6px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%) scale(1);
  text-align: center;
  padding: 0 15px 15px;
  color: #333;
  visibility: hidden;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.iphonePage .open-error {
  visibility: visible;
  top: 13%;
  transform: translate(-50%, -50%) scale(1);
}

.iphonePage .error h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.iphonePage .error svg {
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .iphonePage {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 785px) {
  .iphonePage .iphonePage-inner {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .iphonePage .main-img {
    margin: auto;
    max-width: 100%;
  }

  .iphonePage .main-img img {
    width: 100%;
  }

  .iphonePage-inner .images-options {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .iphonePage .iphonePage-inner {
    gap: 50px;
  }

  .iphonePage-inner .main-products-descreption .main-heading h1 {
    font-size: 25px;
  }

  .iphonePage-inner .main-products-descreption .products-description p {
    font-size: 16px;
  }

  .iphonePage-inner .main-products-descreption .product-price p {
    font-size: 25px;
  }

  .iphonePage-inner .product-type .typeOne p {
    font-size: 18px;
  }

  .iphonePage-inner .product-type .typeOne span {
    font-size: 17px;
  }
}
